# Build output
build
sim_build
logs

# Common editor/IDE config and temporary files
.project
.vscode/
settings.json
.sw[a-p]
tags
*~
*.jou

# Python
.venv
__pycache__
.pytest_cache

# Waveform/results files
*.vcd
*.fst
results.xml
sim_reports

