# Development version of edalize with vivado-run-main function restored
# git+https://github.com/patrickerich/edalize.git@vivado-run-main
git+https://github.com/olofk/edalize.git

# Development version with OT-specific changes
git+https://github.com/lowRISC/fusesoc.git@ot

pyyaml
mako

git+https://github.com/cocotb/cocotb.git
git+https://github.com/cocotb/cocotb-bus.git
git+https://github.com/themperek/cocotb-test.git
git+https://github.com/patrickerich/cocotb-bridge.git
git+https://github.com/patrickerich/serial-device.git
git+https://github.com/alexforencich/cocotbext-uart.git


pyserial


pytest-logging
pytest-xdist
pytest-parallel
pytest-html
flake8
